<%= button_to "Home", '/', method:"get"%>
<h1><%=@users.name%><h1>


<h3> <%=@users.name%>'s Tyrants</h3>
<%@users.tyrants.each do |x|%>
    <ul>
    <li>
    <%= link_to x.name, tyrant_path(x.id)%><br/>
    </li>
    </ul>
   
<% end %>

<h3><%=@users.name%>'s Comments</h3>
<%@users.comments.each do |c|%>
    <ul>
    <li>
    <%= link_to c.tyrant.name, tyrant_path(c.tyrant.id)%><br/>
    <%= c.comments%>
    </li>
    </ul>
   
<% end %>
<h3><%=@users.name%>'s Reviews</h3>
<%@users.ratings.each do |x|%>
    
    <ul>
    <li>
    <%= link_to x.tyrant.name, rating_path(x.id) %><br/>
    <label>Appearance Rating:</label>
    <%= x.appearance_rating%><br/>
    <label>Economics Rating:</label>
    <%= x.economics_rating%><br/>
    <label>Social Rating:</label>
    <%= x.social_rating%><br/>
    <label>Warmongering Rating:</label>
    <%= x.warmongering_rating%><br/>
    <label>Charisma Rating:</label>
    <%= x.charisma_rating%><br/>
    </li>
    </ul>
    
    
<%end%>
