<h1>Tyrant's Parking Lot</h1>
<% if session[:user_id] == nil%>
<%= button_to "Log In", '/login'%>
<%else%>
<%= form_with url:'/logout', method: "delete" do |f|%>
<%= f.submit "Log Out"%>
<%end%>
<%end%>

<%if session[:user_id] == nil%>
<%= button_to "Create Profile", '/users/new',method:"get"%>
<%else%>
<%= button_to "My Profile", '/profile',method:"get"%>
<%end%>
<br>
<!-- Iterate through all the Tyrants -->
<ul>
<%@tyrants.each do |t|%>
    <li>
    <h3><%=link_to t.name.split(" ").map{|n|n.capitalize}.join(" "), tyrant_path(t)%> </h3>
    <%= image_tag (src=(url_for(t.avatar))),width:"300px"%>
    
    <br>

    <label>Average Economics Rating: </label>
    <%=t.avg_economics_rating%>
    <br>

    <label>Average Social Rating: </label>
    <%=t.avg_social_rating%>
    <br>

    <label>Average Warmongering Rating: </label>
    <%=t.avg_warmongering_rating%>
    <br>

    <label>Average Charisma Rating: </label>
    <%=t.avg_charisma_rating%>
    <br>

    <label>Average Appearance Rating: </label>
    <%=t.avg_appearance_rating%>
    <br>
    
    
    </li>
<%end%>
</ul>