<h1>Tyrant's Parking Lot</h1>
<br>
<!-- Iterate through all the Tyrants -->
<ul>
<%@tyrants.each do |t|%>
    <li>
    <h3><%=link_to t.name.capitalize, tyrants_path(t)%> </h3>
    <%= image_tag("tyrant_pic/nightking.jpg",width:"300px") %>
    <br>

    <label>Average Economics Rating: </label>
    <%=t.avg_economics_rating%>
    <br>

    <label>Average Social Rating: </label>
    <%=t.avg_social_rating%>
    <br>

    <label>Average Warmongering Rating: </label>
    <%=t.avg_warmongering_rating%>
    <br>

    <label>Average Charisma Rating: </label>
    <%=t.avg_charisma_rating%>
    <br>

    <label>Average Appearance Rating: </label>
    <%=t.avg_appearance_rating%>
    <br>
    
    
    </li>
<%end%>
</ul>