<h1><%=@tyrant.name%></h1>
<%= image_tag("tyrant_pic/nightking.jpg",width:"300px") %>
<br>

<h3>Average Ratings:</h3>
<ul>
<li>Warmongering: </li> <%=@tyrant.avg_warmongering_rating%>
<li>Appearance: </li> <%=@tyrant.avg_appearance_rating%>
<li>Social: </li> <%=@tyrant.avg_social_rating%>
<li>Charisma: </li> <%=@tyrant.avg_charisma_rating%>
<li>Economic: </li> <%=@tyrant.avg_economics_rating%>
</ul>

<%= form_with model:@rating do |f|%>
<%= f.number_field :appearance_rating%>
<%= f.label :Appearance_Rating%>

<br/>

<label>Bio: <%= simple_format @tyrant.bio%></label> 
<br>

<label>Economics Policy: <%= @tyrant.economics_policy%></label>
<br/>

<%= f.label :economics_rating.capitalize%>
<%= f.number_field :economics_rating%>
<br>

<br/>
<label>Social Policy: <%= @tyrant.social_policy%></label>
<br/>
<%= f.number_field :social_rating%>
<%= f.label :Social_Rating%>
<br/>
<label>Warmongering Policy: <%= @tyrant.warmongering_policy%></label>
<br/>
<%= f.number_field :warmongering_rating%>
<%= f.label :Warmongering_Rating%>
<br/>
<br/>

<%= f.number_field :charisma_rating%>
<%= f.label :Charisma_Rating%>
<br/>
<%= f.collection_select :user_id,@user,:id,:name%>
<br/>
<%= f.hidden_field :tyrant_id,:value => @tyrant.id%>
<br/>
<%= f.submit%>
<%end%>
<br/>


<%= form_with model:@comment do |f|%><br/>
<%= f.label :Comments%><br/>
<%= f.text_area :comments%><br/>
<%= f.collection_select :user_id,@user,:id,:name%>
<br/>
<%= f.hidden_field :tyrant_id,:value => @tyrant.id%>
<br/>
<%= f.submit%>
<%end%>


<ul>
<%@tyrant.comments.each do |x|%>

 <%=x.comments%>
 <%end%>
 </ul>





 




