<% if flash[:errors]%>
    <% flash[:errors].each do |e| %>
        <li style="color: red">
            <%= e %>
        </li>
    <%end%>
<%end%>
<h1><%=@tyrant.name%></h1>
<% if @tyrant.avatar.attached? %>
<%= image_tag (src=(url_for(@tyrant.avatar))),width:"300px"%>
<%end%>

<br>

<h3>Average Ratings:</h3>
<ul>
<li>Warmongering: </li> <%=@tyrant.avg_warmongering_rating%>
<li>Appearance: </li> <%=@tyrant.avg_appearance_rating%>
<li>Social: </li> <%=@tyrant.avg_social_rating%>
<li>Charisma: </li> <%=@tyrant.avg_charisma_rating%>
<li>Economic: </li> <%=@tyrant.avg_economics_rating%>
</ul>
<br>



<%= form_with model:@rating do |f|%>
<br/>
<label>Bio </label> 
<%= simple_format @tyrant.bio%>
<label>Economics Policy: <label><br/>
 <%= @tyrant.economics_policy%><br/>
<br/>
<label>Social Policy: </label><br/>
<%= @tyrant.social_policy%><br/>
<br/>
<label>Warmongering Policy: </label><br/>
<%= @tyrant.warmongering_policy%><br/>
<br/>
<%= f.hidden_field :user_id,:value => session[:user_id]%>
<br/>
<%= f.hidden_field :tyrant_id,:value => @tyrant.id%>
<label>Put in your own rating for this Tyrant!</label><br/>
<%= f.number_field :appearance_rating%>
<label>Appearance Rating </label>
<br/>
<%= f.number_field :economics_rating%>
<label>Economics Rating </label><br/>
<%= f.number_field :social_rating%>
<label>Social Rating </label><br/>
<%= f.number_field :warmongering_rating%>
<label>Warmongering Rating </label><br/>
<%= f.number_field :charisma_rating%>
<label>Charisma Rating </label><br/>
<%= f.submit%>
<%end%>
<br/><br/>

<label>Leave a comment about this Tyrant:</label>
<%= form_with model:@comment do |f|%><br/>
<%= f.label :Comments%><br/>
<%= f.text_area :comments%><br/>
<%= f.hidden_field :user_id,:value => session[:user_id]%>
<br/>
<%= f.hidden_field :tyrant_id,:value => @tyrant.id%>
<br/>
<%= f.submit%>
<%end%>
<br>
<label>View all comments already made for this Tyrant</label>
<ul>
<%@tyrant.comments.each do |x|%>
<li>
 <%=x.comments%>
 </li>
 <%end%>
 </ul>





 




